<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <main>
        <h2>Week 1</h2>
        <div class="scroll-top">
            <img src="../images/icons/scroll.svg" alt="">
        </div>
        <div class="main-calendar">
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Monday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Tuesday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Wednesday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Thursday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Friday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Saturday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Sunday</h4>
                    <p>date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-bottom">
            <img src="../images/icons/scroll.svg" alt="">
        </div>
        <div class="event-window">EVENT WINDOW</div>
        <button class="add-event" onclick="addEventBtn()">
            <img src="../images/icons/add_event.svg" alt="">
        </button>
        <button class="overview">
            <img src="../images/icons/overview.svg" alt="">
        </button>

    </main>

    <%- include('partials/footer.ejs') %>



    <form action="/calendar" method="POST">
        <input type="text" name="description" id="description">
        <input type="date" name="date" id="date">

        <button type="submit">Submit</button>
    </form>

    <% events.forEach(function(event) { %>
    <!-- <div class="eventContainer">
        <p class="eventTitle">
        <%= event.title %> -->
    <!-- </p> -->
    <span></span>
    <p class="eventDate">
        <%= event.date %>
    </p>
    <span></span>
    <p class="eventDescription">
        <%= event.description %>
    </p>
    <span></span>
    <!-- <button class="edit-button" data-id="<%= event.id %>">Edit</button> -->
    <!-- <button onclick="handleDelete(<%= event.id %>)">Delete</button> -->
    </div>
    <% }); %>

    <script src="../script/script.js"></script>
</body>

</html>