<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <main>


        <div class="main-calendar" data-date="">
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Monday</h4>
                    <p id="date0">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date tuesday">
                    <h4>Tuesday</h4>
                    <p id="date1">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Wednesday</h4>
                    <p id="date2">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Thursday</h4>
                    <p id="date3">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Friday</h4>
                    <p id="date4">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Saturday</h4>
                    <p id="date5">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="weekday">
                <div class="day-date monday">
                    <h4>Sunday</h4>
                    <p id="date6">date</p>
                </div>
                <div class="event-section">
                    <div class="event">event</div>
                    <div class="img-div">
                        <img src="../images/icons/edit.svg" alt="">
                        <img src="../images/icons/close.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="change-week-container">

            <div class="scroll-left-container">
                <img src="../images/icons/scroll.svg" alt="" id="scroll-left">
            </div>
            <h2>Week 1</h2>
            <div class="scroll-right-container">
                <img src="../images/icons/scroll.svg" alt="" id="scroll-right">
            </div>

        </div>
        <div class="event-window">EVENT WINDOW</div>
        <button class="add-event" onclick="addEventBtn()">
            <img src="../images/icons/add_event.svg" alt="">
        </button>
        <button class="overview">
            <img src="../images/icons/overview.svg" alt="">
        </button>

    </main>

    <%- include('partials/footer.ejs') %>



    <form action="/calendar" method="POST">
        <input type="text" name="title" id="title">
        <input type="date" name="date" id="date">

        <button type="submit">Submit</button>
    </form>

    <% events.forEach(function(event) { %>
    <div class="eventContainer">
        <!-- <p class="eventTitle"> -->

        <!-- </p> -->
        <span></span>
        <p class="eventDate">
            <%= event.date %>
        </p>
        <span></span>
        <p class="eventTitle">
            <%= event.title %>
        </p>
        <span></span>
        <button class="edit-button" data-id="<%= event.id %>">Edit</button>
        <button onclick="handleDelete(<%= event.id %>)">Delete</button>
    </div>
    <% }); %>

    <script src="../script/script.js"></script>
</body>

</html>