<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <main>


        <div class="main-calendar" data-date="">
            <div class="container">
                <div class="weekdays">
                    <div id="weekday" class="weekday">
                    </div>
                </div>
            </div>
        </div>
        
        <form action="/calendar" method="POST">
            <input type="text" name="title" id="title">
            <input type="date" name="date" id="date">

            <button type="submit">Submit</button>
        </form>

        <% events.forEach(function(event) { %>
        <div class="eventContainer" id="<%= event.date %>">
            
            <p class="eventDate">
                <%= event.date %>
            </p> 
            <span></span>
            <p class="eventTitle">
                <%= event.title %>
            </p>
            <span></span>
            <button class="edit-button" data-id="<%= event.id %>">Edit</button>
            <button onclick="handleDelete(<%= event.id %>)">Delete</button>
        </div>
        <% }); %>




        <div class="change-week-container">
            <div class="scroll-left-container">
                <img src="../images/icons/scroll.svg" alt="" id="scroll-left">
            </div>
            <h2 id="week-number"></h2>
            <div class="scroll-right-container">
                <img src="../images/icons/scroll.svg" alt="" id="scroll-right">
            </div>
        </div>



        <!-- <button class="add-event" onclick="addEventBtn()">
            <img src="../images/icons/add_event.svg" alt="">
        </button>
        <button class="overview">
            <img src="../images/icons/overview.svg" alt="">
        </button> -->

        

        <script src="../script/script.js"></script>

    </main>

    <%- include('partials/footer.ejs') %>




</body>

</html>